%p#notice= notice

%p
  %b Name:
  = @board.name

= render 'tasks/task_list', board: @board, tasks: @records

= raw pagy_nav(@pagy)

= link_to 'New Task', new_board_task_path(@board)

= link_to 'Edit', edit_board_path(@board)
\|
= link_to 'Back', boards_path
